#category_list_main {
  margin: auto; }

#category_list {
  height: 100vh;
  min-width: 320px;
  margin: auto 10vw;
  overflow: scroll; }

a {
  color: black; }

#grid-main {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
