

#flash_cards_list_main{
	margin: auto;
	width: 80vw;
	max-width:604px;
	display: flex;
    flex-direction: column;
}

#flash_cards_list{
		height: 80vh;
	overflow: scroll;
}

#flash_cards_header{
	    text-align: center;
}

#new_card_button_container{
	    margin: 0 auto;
}

#flash_cards_list_items{
 width: 100%
}