#link {
  text-decoration: none !important; }

* {
  text-decoration: none !important; }

*:visited {
  text-decoration: none !important; }

.MuiAvatar-colorDefault {
  color: #bdbdbd !important;
  background-color: #fafafa !important; }

#flash_cards_header {
  text-align: center; }

#flash_Cards_List {
  overflow: scroll;
  height: 100vh; }
