#flash_cards_list_main {
  margin: auto;
  width: 80vw;
  max-width: 604px; }

#flash_cards_list {
  height: 100vh;
  overflow: scroll; }

#flash_cards_header {
  text-align: center; }

#flash_cards_list_items {
  width: 100%; }
