

#flash_cards_list_main{
	margin: auto;
	width: 80vw;
	max-width:604px;
}

#flash_cards_list{
		height: 100vh;
	min-width: 320px;
	overflow: scroll;
}

#flash_cards_header{
	    text-align: center;
}