.headerLinks {
  text-decoration: none !important;
  color: white; }

#menuContainer {
  margin-bottom: 2vh; }

#header-title {
  -ms-grid-column-align: center;
  justify-self: center; }

#simpleAppMenu {
  height: 100%; }

#logout-P {
  margin-right: 25px; }

#photoURLSmall {
  height: 25px;
  width: 25px;
  border-radius: 6px;
  margin-left: 0px 0px 0px 15px !important; }
