.headerLinks{
	text-decoration: none!important;
	color: white;
}

#menuContainer{
	margin-bottom: 2vh;
}

#header-title{
justify-self: center;
}

#simpleAppMenu{
	height: 100%
}

a {
	height: 100%;
	justify-content: center!important;
}