#category_list_main {
  margin: auto; }

#category_list {
  height: 100vh;
  min-width: 320px;
  margin: auto 10vw;
  overflow: scroll; }

a {
  text-decoration: none !important;
  color: black; }

a:hover {
  text-decoration: underline !important; }

#grid-main {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
