#reactQuill-container{
  // box-sizing: border-box;
  // width: calc(100% - 400px);
  // width: 372px;
  // float: right;
  // margin-right: 100px;
  // position:fixed;
}

#bottom-quill > div:nth-child(1) > div:nth-child(1) {
    position: absolute;
    top: 0;
    width: 100%;
}

#reactQuill-subContainer{
  position: relative;
}

#card-containerMain{
      display: flex;
    // flex-direction: column;
        align-items: center;
}

#card-container{
  align-self: center;
}

#card-button-remove{
          display: flex;
              justify-content: center;
}

#update_new_card_button{
    display: flex;
    justify-content: space-around;
        margin: 20px auto;
}