#reactQuill-container {
  width: 372px;
  position: fixed; }

#bottom-quill > div:nth-child(1) > div:nth-child(1) {
  position: absolute;
  top: 0;
  width: 100%; }

#reactQuill-subContainer {
  position: relative; }
