#carouselContainer {
  margin: 80px auto;
  width: 63%; }

#endOfTestContainer {
  margin: 111px auto;
  /* text-align: center; */
  background-color: #000000ad;
  width: 80%;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  height: 110px; }

#slider-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.buttonNext {
  visibility: hidden; }

.thumbs {
  visibility: initial !important; }

#thumbsUp {
  color: #1bb9eaab; }

#thumbsDown {
  color: #ea4e4e; }

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.react-card-flip {
  width: 100%; }
