#cardEditor{
	z-index:100;
	width: 80vw;
	margin-top: 10px;
	max-width: 80vw;
}
#flashCardEditorContainer{
		margin-top: 5px;
		    height: 100%;
}

#flashCardEditorContainer_top_fixed{
	display: flex;
	flex-direction: column;
	z-index:100;
		margin-top: 60px;
		align-items: center;
}

h3 {
	    margin-top: 11px;
	    margin-bottom: 11px;
		text-align: center;
		color: #8080808c;
		font-size: 16px;
}

#flashCardEditor_input_fields{
	display:flex;
	align-self: center;
	margin-bottom: 10px;
}

#input-with-title {
    height: 23px;
    border-radius: 3px;
    border-style: groove;
    border-color: #f0f8ff00;;
	border-width: 2px;
	margin-bottom: 10px;
    font-size: 18px;
    font-family: arial;
}

input::placeholder{
	color: #cecece;
}

#input-no-title {
    height: 23px;
	border: initial;
	    text-decoration: underline;
	text-decoration-color: #3f51b542;
		margin-bottom: 10px;
    font-size: 14px;
}

#card_editor_main-list-and-editor{
	display: flex;
	flex-direction: column;
		height: 100%;
		align-items: center;
}

#card_editor_buttons{
      display: flex;
    flex-direction: row;
	justify-content: space-between;
	width: 80vw;
}

#card_editor_list_root{
	height: 100%;
        overflow-y: scroll;
    overflow-x: hidden;
}
// #cardListContainer{
// overflow: scroll;
// height: 99vh;
// align-self: center;
// width: 100%;
// padding-right: 70px;
// }


#cardList {

    // height: 50vh;
    // /* margin-bottom: 100px; */
    // bottom: 0px;
    // position: fixed;
	// align-self: flex-end;
	height: 100%;
    margin-bottom: 172px;
    bottom: 0px;
    position: relative;
    align-self: flex-end;
}

#alert_missing_title{
	visibility: hidden;
	position: absolute;
}

//REACT QUILL TARGETING

.reactQuillCustom > div > div {
	overflow: scroll;
}

.reactQuillCustom > div > div > *{
width: max-content;
}

#card-container{
	max-width: 80vw;
	min-width: 300px;
}

#SelectCategoryButton{
 width: 210px;
//  position: absolute;
 align-self: center;
}


#card_editor_buttons{
	display: flex;
    flex-direction: column;
}

#creatableSelect > *{
	z-index:100
}

#delete_save_btnContainer{
    display: flex;
    justify-content: space-between;
    // position: fixed;
    width: 100%;
}

/* Small devices (small phones, 599px and down) */
@media only screen and (max-width: 495px) {


}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
