#flashCardEditorContainer {
  margin-top: 5px; }

#flashCardEditorContainer_top_fixed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

h2 {
  text-align: center; }

#flashCardEditor_input_fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center; }

#input-with-title {
  height: 23px;
  border-radius: 3px;
  border-style: groove;
  border-color: #f0f8ff00;
  border-width: 2px; }

#input-no-title {
  height: 23px;
  border: initial;
  text-decoration: underline;
  -webkit-text-decoration-color: #3f51b542;
  text-decoration-color: #3f51b542; }

#card_editor_main-list-and-editor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

#card_editor_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

#cardListContainer {
  overflow: hidden;
  height: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

#cardList > div {
  height: 100%; }

#cardList {
  /* position: fixed; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  height: 100%; }

#alert_missing_title {
  visibility: hidden;
  position: absolute; }

.reactQuillCustom > div > div {
  overflow: scroll; }

.reactQuillCustom > div > div > * {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content; }

#card-container {
  max-width: 80vw; }

/* Small devices (small phones, 599px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
